* {
	box-sizing: border-box;
}

body {
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

h1 {
	color: slategrey;
}

h2 {
	margin-top: 0;
	font-weight: 500;
	color: teal;
}

h2.winner {
	font-weight: bold;
	color: crimson;
}

#container {
	width: 50%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

#grid {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
}

.box {
	width: 33.33%;
	/* https://stackoverflow.com/a/66335230/1074802 */
	aspect-ratio: 1/1;
	background-size: cover;
	background-position: center;
	/* Remove double borders: https://stackoverflow.com/questions/37231144/how-can-i-make-a-3x3-grid-box-that-contains-9-input-textboxes-without-double-bor/37231694 */
	/* Add left and top border to all cells */
	border: 0;
	border-right: 2px solid slategrey;
	border-bottom: 2px solid slategrey;
}

.token-x {
	background-image: url(./assets/cat-one.png);
}

.token-o {
	background-image: url(./assets/cat-two.png);
}

button {
	margin-top: 1rem;
}

/* Remove right border to elements at the end of rows */
.box:nth-child(3n) {
	border-right: 0px;
}

/* Add bottom border to elements at the bottom */
.box:nth-child(n + 7) {
	border-bottom: 0px;
}
